<div class="about_background">
</div>

<div class="wrapper">
  <header>
    <h1 class="about_h1">About Abby</h1>
  </header>
  <section class="courses">
    <article>
      <figure> 
        <figcaption>Food<figcaption>
      </figure>
      <hgroup>
        <h2>Food</h2>
        <h3>Food</h3>
      <hgroup>
        <p>A website for Abby</p>
    </article>
    <article>
      <figure>
        <%= image_tag "abby.jpeg" %>
        <figcaption>Abby</figcaption>
      </figure>
      <hgroup>
        <h2>Food</h2>
        <h3>Lab</h3>
      </hgroup>
        <p>A scientist who works on the world!</p>
    </article>
  </section>
  <aside>
    <section class="Popular Recipes">
      <h2>Popular recipes</h2>
      <a href="">Food</a>
      <a href="">Food</a>
      <a href="">Food</a>
      <a href="">Food</a>
    </section>
    <section class="contact-details">
      <h2>Contact</h2>
      <p>Abby Cuddy<br />
        Buford, GA<br />
        </p>
    </section>
  </aside>




<!-- <div id="footer">
    <p>
      <a href="https://twitter.com/"><i class="fa fa-twitter fa-3x"></i></a>
      <a href="https://www.linkedin.com/in/mcuddy1"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://github.com/"><i class="fa fa-github fa-3x"></i>
    </p>
    <p>
      <em class="footer1">&copy; 2016 Mike Cuddy Productions</em>
    </p>
</div> -->




