<div class="about_background">
  <h1>About ME</h1>

</div>

<div class="wrapper">
  <header>
    <h1>About Abby</h1>


<div id="footer">
    <p>
      <a href="https://twitter.com/"><i class="fa fa-twitter fa-3x"></i></a>
      <a href="https://www.linkedin.com/in/mcuddy1"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://github.com/"><i class="fa fa-github fa-3x"></i>
    </p>
    <p>
      <em class="footer1">&copy; 2016 Mike Cuddy Productions</em>
    </p>
</div>




