<div class="about_background">

  <div class="container heading_block">
    <h1 class="about_heading"><i class="fa fa-flask"></i> About Abby <i class="fa fa-cutlery"></i></h1>
  </div>
  
  <div class="container about1">

    <div class="container_flex1">
      <div class="about_image_flex">
        <%= image_tag "abby1.jpeg", class: "about_image" %>
      </div>
      <div class="container about_abby">
          <h2 class="heading_who"><b>Who I am</b></h2>
          <p class="paragraph">
            I am an Assistant Professor of Anatomy at the Georgia-Philadelphia College of Osteopathic Medicine. In this role, I teach anatomy and neuroanatomy to first year DO students. In addition to teaching, I do breast cancer research. The goal of my lab is to determine how changes in the tumor microenvironment influence the behavior of fibroblasts, cells which play an active role in breast tumor progression. 
          </p>
          <hr>
          <p class="paragraph">
            My professional objectives are to enable the next generation of physicians and scientists to pursue successful careers in their fields of choice. This is my first priority as an educator. Through mentorship and teaching, I believe I'm able to make a positive impact in their lives. In addition to this, I'm always looking for new opportunities to expand my research and knowledge of breast cancer and am continually striving to form collaborations with other investigators in complementary fields. I'm also looking for ways to engage the public in research as well. Whether these are high school level students or individuals in the community, I believe it is important to engage the community in the research my lab is doing. In particular, is my desire to help young women become interested in pursuing STEM careers.
          </p>
          <div class="about_contact">
            <h3>Contact Me:</h3>
            <p>Email: abigailhi@pcom.edu</p>
              <a  href="https://www.linkedin.com/in/abby-cuddy-0973b04b"><i class="fa fa-linkedin-square fa-3x"></i></a>
              <a  href="https://twitter.com/Abby_Cuddy"><i class="fa fa-twitter fa-3x"></i></a>
          </div>
    </div>
    </div>
  </div>
</div>






