<h1 class="zen">Chef Wife</h1> 
<div class="jumbotron">
    <section class="banner" > 
      <div class="inner">
        <h3>Abby Cuddy Ph.D</h3>
          <hr>
        <p class="inner_font">Scientist / Wife / Chef</P>
      </div>
    </section>
</div>

<div class="container">
  <div class="row">
    <div id="MyImage" class="col-md-6 background-1">
      <div class="c-imageBlock_content">
        <h2>Test</h3>
      </div>
    </div>
    <div id="MyImage" class="col-md-6 background-2">
      <div class="c-imageBlock_content">
        <h2>Test</h3>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary panel_1">
      <div class="panel-heading center_panel">
        <h3 class="panel-title">Scientist</h3>
      </div>
      <div class="panel-body">
        <p>I’ve always had a passion for science and as a child, remember this being my favorite subject in school. As a result, I pursued a Ph.D. in cell biology and completed a post-doctoral fellowship in cancer biology. Cancer research, specifically breast cancer, is my passion and now that I’m an assistant professor at an osteopathic medical school, I have established a lab which aims to better understand how the cells and non-cellular material which surround the breast cancer cells influence breast tumor growth. I love what I do and blessed to be able to call my work a hobby. I look forward to discovering something new every day and it is with hope that these discoveries will someday benefit the millions of individuals suffering from cancer.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-info panel_2">
      <div class="panel-heading center_panel">
        <h3 class="panel-title">Wife</h3>
      </div>
      <div class="panel-body">
        <p>I’ve been married to my handsome, talented husband for over 5 years. We met when I started my postdoctoral fellowship in Baltimore, MD and it didn’t take long for us to know that we were meant for each other. During our years together, we have and continue to enjoy new cultural experiences with one another. We especially enjoy visiting wineries and museums and trying new ethnic cuisines. He’s my perfect partner in every way and my test subject for all of the new dishes I prepare.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary panel_3">
      <div class="panel-heading center_panel">
        <h3 class="panel-title">Chef</h3>
      </div>
      <div class="panel-body">
        <p>As a scientist, I look at cooking much the same as I look at following a scientific protocol. Both have a set of ingredients that must be added at a particular time for the end product to turn out as expected. For me, cooking is a form of therapy and I love finding new and different recipes to prepare for my husband and I. I especially enjoy preparing dishes from different regions of the world as it exposes our palates to new and different flavors. Sometimes the meals turn out better than I expected. Other times, this isn’t the case. Either way, I’m learning as I go and finding new flavors that I never expected to enjoy.</p>
      </div>
    </div>
  </div>
</div>

<div id="footer">
    <p>
      <a href="https://twitter.com/"><i class="fa fa-twitter fa-3x"></i></a>
      <a href="https://www.linkedin.com/in/mcuddy1"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://github.com/"><i class="fa fa-github fa-3x"></i>
    </p>
    <p>
      <em class="footer1">&copy; 2016 Mike Cuddy Productions</em>
    </p>
</div>

<script> 
(function() {
  var myImageEl = document.getElementById('MyImage');
  var background2Enabled = false;
  
  function toggleBackground() {
    background2Enabled = !background2Enabled;
    myImageEl.className = background2Enabled ? 'background-2' : 'background-1';
  }
  
  myImageEl.addEventListener('click', toggleBackground);
})();
</script>

